.profile_page_contanier {
  width: 100%;
  display: flex;
  position: relative;
}
.profile_page_cont {
  display: flex;
  width: 100%;
}

.profile_page_right_side {
  width: 1050px;
  margin: 0 auto;
}
.profile_page_left_nav {
  position: sticky !important;
  top: 50px;
}
.profile_page_right_bottom_section {
  display: flex;
  padding: 30px;
  padding-top: 0;
  padding-right: 0px;
  justify-content: space-between;
}
.profile_page_top_pics {
  padding-left: 30px;
  position: relative;
}
.profile_page_cover_div {
  width: 100%;
  height: 250px;
}
.profile_page_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_page_pics_user {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 44%;
  right: 56%;
}
.profile_page_pics_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}
.profile_page_username_desc {
  margin-top: 60px;
  text-align: center;
}
h3 {
  margin-bottom: 0;
}
.prof_desc_top_side {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .profile_page_right_bottom_section {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0px;
  }
  .profile_page_pics_user {
    position: absolute;
    top: 150px;
    left: 45%;
    right: 55%;
  }
}
@media screen and (max-width: 648px) {
  .home_contanier_mid {
    width: 300px;
  }
  .profile_page_right_bottom_section {
    width: 100%;
    margin: 0 !important;
  }
  .profile_page_right_side {
    width: 100%;
  }
  .profile_page_top_pics {
    padding-left: 0px;
  }
  .profile_page_pics_user {
    position: absolute;
    top: 150px;
    left: 20px;
  }
  .profile_page_username_desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
  }
}

@media screen and (max-width: 448px) {
  .profile_page_cont {
    width: 100vw;
  }
  .home_contanier_mid {
    width: 200px;
  }
  .profile_page_right_bottom_section {
    width: 100%;
    margin: 0 !important;
  }
  .profile_page_right_side {
    width: 100%;
  }
  .profile_page_top_pics {
    padding-left: 0px;
  }
  .profile_page_pics_user {
    position: absolute;
    top: 150px;
    left: 20px;
  }
  .profile_page_username_desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
  }
}
